:root {
  --primary-head-text: hsl(210, 10%, 33%);
  --secondary-text: hsl(201, 11%, 66%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Bai Jamjuree", sans-serif;
  /* height: 100%;  */
  background-position: top right;
  /* width: 80%; */
  margin: 0 auto;
}

section {
  margin-top: 40px;
}

.first-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
}

.hero-head {
  text-align: center;
}

.hero-head h1 {
  padding-bottom: 0.7em;
}

.head-text {
  font-size: 3.2em;
  font-weight: 600;
  color: var(--primary-head-text);
}

.sub-text {
  font-size: 1.2em;
  font-weight: 400;
  color: var(--secondary-text);
}

button {
  margin: 15px;
  height: 4em;
  width: 14em;
  border-radius: 35px;
  font-size: 1.1em;
  font-weight: 600;
  color: hsl(0, 100%, 100%);
  border: none;
  cursor: pointer;
  box-shadow: rgba(99, 99, 116, 0.2) 0px 7px 29px 0px;
  box-shadow: rgb(99 99 116 / 61%) 1px 7px 29px 0px;
}

.ios:hover {
  background-color: #1e8f62;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.mac:hover {
  background-color: #5c45df;
  box-shadow: 0px 15px 20px rgba(55, 58, 230, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.ios {
  background-color: hsl(171, 66%, 44%);
}

.mac {
  background-color: hsl(233, 100%, 69%);
}

.snippets {
  text-align: center;
  margin-top: 100px;
}

.snippets h1 {
  font-size: 2.2em;
  color: var(--primary-head-text);
  padding-bottom: 15px;
}

.features {
  display: flex;
  align-items: center;
  margin-top: 100px;
  gap: 530px;
}

.computer-image {
  object-position: top 0px left -30px;
}

.features-list h1 {
  padding-bottom: 8px;
  color: var(--primary-head-text);
}
.first,
.second,
.third {
  padding-bottom: 50px;
}

/*-------------------------------------------------------------- media query ------------------------------------------------------------------*/

/* regular desktop */

@media only screen and (min-width: 960px) and (max-width: 1300px) {
  body {
    background-color: rgb(197, 245, 250);
  }

  .features {
    display: flex;
    align-items: center;
    margin-top: 100px;
    gap: 230px;
    justify-content: space-evenly;
  }

  .computer-image {
    min-width: 50%;
    max-width: 120%;
  }
}

/* laptop */

@media only screen and (min-width: 1301px) {
  body {
    background-color: rgb(207, 194, 194);
  }

  .features {
    display: flex;
    align-items: center;
    margin-top: 100px;
    gap: 200px;
  }
}

/* big screen */

@media only screen and (min-width: 1800px) and (max-width: 3500px) {
  body {
    background-color: rgb(255, 255, 255);
  }

  .features {
    display: flex;
    align-items: center;
    margin-top: 100px;
    gap: 550px;
  }

  .features-list {
    margin-top: -40px;
  }

  .features-list h1 {
    padding-bottom: 14px;
    color: var(--primary-head-text);
    font-size: 1.7em;
  }

  .computer-image {
      width:120%;
  }
}
/*tablet */

/*mobile*/
